{% extends "base.html" %}

{% block content-table %}
<thead>
    <tr>
        <th>Concurso</th>
        <th>Pares</th>
        <th>Impares</th>
        <th>Mestre</th>
        <th>Quadrante 1</th>
        <th>Quadrante 2</th>
        <th>Quadrante 3</th>
        <th>Quadrante 4</th>
    </tr>
</thead>
<tbody>
    {% for line in object_list %}
        <tr>
            <td>{{line}}</td>
            <td>{{line.content_json.pares}}</td>
            <td>{{line.content_json.impares}}</td>
            <td>{{line.content_json.mestre.total_mestre}}</td>
            <td>{{line.content_json.quadrantes.quadrant1.total}}</td>
            <td>{{line.content_json.quadrantes.quadrant2.total}}</td>
            <td>{{line.content_json.quadrantes.quadrant3.total}}</td>
            <td>{{line.content_json.quadrantes.quadrant4.total}}</td>
        </tr>
    {% endfor %}
</tbody>
{% endblock content-table %}